/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--typo1: 'Roboto', sans-serif;
}

h1 {
	color: var(--t1);
	font-family: var(--typo1);
}

h2 {
	color: var(--t1);
	font-family: var(--typo1);
}

h3 {
	color: var(--t1);
	font-family: var(--typo1);
	font-weight: 500;
}

h4 {
	color: var(--t1);
	font-family: var(--typo1);
	font-weight: 300;
	font-size: 0.9rem;
}

code {
	color: var(--t1);
	font-family: var(--typo1);
	font-weight: 300;
	font-size: 0.8rem;
}
.path-code {
	letter-spacing: 0.15rem;
}

h5,
span,
label,
a,
.text-button {
	color: var(--t1);
	font-family: var(--typo1);
	font-weight: 500;
	font-size: 0.9rem;
}

p {
	color: var(--t1);
	font-family: var(--typo1);
	font-weight: 300;
	font-size: 0.9rem;
	text-align: justify;
}

/* COLORS MODE */
body,
body[data-color-mode='grey'] {
	/* back color */
	--back-color: 104, 118, 119;
	/* --back-color: 101, 111, 138; */
	/* text & T color */
	--front-color: 232, 233, 235;
}
body[data-color-mode='light'] {
	/* back color */
	--back-color: 232, 233, 235;
	/* text & T color */
	--front-color: 22, 27, 30;
}

body[data-color-mode='dark'] {
	/* back color */
	--back-color: 22, 27, 30;
	/* text & T color */
	--front-color: 247, 245, 245;
}

body {
	/* Colors */
	/* background opaque*/
	--b1: rgb(var(--back-color));
	/* background opacity 2*/
	--b2: rgba(var(--front-color), 0.1396);
	/* background opacity 3, mostly for button:hover*/
	--b3: rgba(var(--front-color), 0.3247);
	/* background opacity 4*/
	--b4: rgba(var(--front-color), 0.7548);
	/* text color */
	--t1: rgb(var(--front-color));
	/*  */
	--t2: rgba(var(--back-color), 0.7548);
	/*  */
	--t3: rgba(var(--back-color), 0.5698);

	/* Set the body background color */
	background: var(--b1);
	transition: 1s;
}
/* GLOBAL SETTINGS */

:root {
	/* Border radius */
	--border-radius: 8px;

	/* Border */
	--border-width-medium: 3px;
	--border-width-small: 2px;

	/* Max width for medium-sized elements */
	--max-width-medium: 500px;

	/* Spacing for margins, padding, gaps etc...*/
	--spacing-medium: 10px;
	--spacing-small: 5px;
}

* {
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-inline-start: 0;
}

.internal-icoglyph-button,
.svg-default {
	stroke: var(--t1);
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 0.4rem;
	stroke-opacity: 1;
	fill: none;
}

.button-default {
	margin: 0;
	padding: 0;
	background: var(--b2);
	cursor: pointer;
	border: none;
	transition: 324ms;
	border-radius: var(--border-radius);
}

.button-default:hover {
	background: var(--b3);
}

.button-default:active {
	background: var(--b4);
}

.text-button {
	background: var(--b2);
	padding: var(--spacing-small) var(--spacing-medium);
	border-radius: var(--border-radius);
	border: none;
}

input[type='text'] {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	border-radius: var(--border-radius);
	color: var(--t1);
	font-size: 0.9rem;
	font-family: var(--typo1);
}

/* CONTAINER */
.basic-container {
	border-radius: var(--border-radius);
	/* background: var(--b2); */
	padding: var(--spacing-small) var(--spacing-medium);
	width: 100%;
}

/* ********** */
/* CLASS STYLE */
/* ********** */

.border-1 {
	border: var(--border-width-medium) solid var(--b2);
	border-radius: var(--border-radius);
}

.border-2 {
	border: var(--border-width-small) solid var(--b2);
	border-radius: var(--border-radius);
}

.container-1 {
	gap: var(--spacing-small);
	padding: var(--spacing-medium);
}

/* ********** */
/* INPUTS */
/* ********** */

/* range */

input[type='range'] {
	--track-height: 14px;
	--track-border-radius: 20px;
	--thumb-width: 20px;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type='range']::-webkit-slider-runnable-track {
	background: var(--b3);
	height: var(--track-height);
	border-radius: var(--track-border-radius);
}

/******** Firefox ********/
input[type='range']::-moz-range-track {
	background: var(--b3);
	height: var(--track-height);
	border-radius: var(--track-border-radius);
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: var(--thumb-width);
	width: var(--thumb-width);
	background: none;
	border-radius: 100%;
	margin-top: -3px;
	border: var(--border-width-medium) solid var(--t1);
}

input[type='range']::-moz-range-thumb {
	border: var(--border-width-medium) solid var(--t1); /*Removes extra border that FF applies*/
	border-radius: 100%;
	background: none;
	height: var(--thumb-width);
	width: var(--thumb-width);
}

/* color */

input[type='color'] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: none;
	border: var(--border-width-medium) solid var(--b2);
	cursor: pointer;
	padding: 0;
	border-radius: var(--border-radius);
}

/* *:focus {
	border-radius: 0;
	outline: none;
} */

::-webkit-color-swatch-wrapper {
	padding: 0;
}

::-webkit-color-swatch {
	border: 0;
	border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
	border: 0;
}

::-moz-focus-inner {
	padding: 0;
}
